// sidebar
$menuText:#1c1c1c; //菜单字体颜色
$menuActiveText:#409EFF; //菜单字体选中颜色
$subMenuActiveText:#525252; //子菜单字体选中后主菜单颜色

$menuBg:#f5f5f5; //整体背景颜色
$menuHover:#c7c7c7; //菜单悬浮变色

$subMenuBg:#ffffff; //子整体背景颜色
$subMenuHover:#c7c7c7; //子菜单悬浮变色

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
